<div class="container">
    <form action="/movie/model_crete" method='get'>
        <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="text" type="email" class="form-control" id="title" name="title" placeholder="title">
        </div>
        <button type="submit" class="btn btn-primary">검색하기</button>
    </form>
    
    <% @movie.each do |m| %> <!-- movie문법을 사용하겠다(Ruby code -> html code로 바뀜 -->
        <div class="row">
            <div class="col-md-4" poster> 
                <img src="<%= m.poster %>" style="width:100%;">
            </div>
            <div class="col-md-8">
                <p>Title : <%= m.title %></p>
                <p>Director : <%= m.director %></p>
                <p>Genre : <%= m.genre %></p>
            </div>
        </div>
        <a href="/movie/edit/<%= m.id %>"class="btn btn-primary">수정하기</a>
        <a href="/movie/model_destroy/<%= m.id %>"class="btn btn-primary">삭제하기</a>
    <% end %>
</div>